@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: theme("colors.zinc.800");
    --text-color: theme("colors.white");
  }

  html {
    @apply bg-[var(--bg-color)];
    @apply text-[var(--text-color)];
  }

  p {
    font-size: 1.2rem;
  }
}
